{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <section class="homepage">
    <header class="home-header">
      <div class="container">
        <div class="home-headline">
          <h1 class="home-title">Open data and analytics for a sustainable energy future.</h1>
        </div>
        <div class="home-cta">
          <a href="{{ h.url_for(controller='ckanext.offgridtheme.controller:AppsController', action='view') }}" title="Visit page" class="btn btn-large btn-rev-ghost">View apps</a>
          <a href="{{ h.url_for(controller='package', action='search') }}" title="Visit page" class="btn btn-large btn-rev-ghost">View data</a>
        </div>
      </div>
    </header>
    <div class="home-body">

      <section class="fold home-featured-tools">
        <header class="fold-header">
          <div class="container">
            <div class="fold-headline">
              <h1 class="fold-title">Apps</h1>
            </div>
          </div>
        </header>
        <div class="fold-body">
          <div class="container">
            <ol class="home-tools-list">
              <li class="tool-wrapper">
                <article class="tool">
                  <div class="tool-media">
                    <a href="http://devseed.com/ifc-demand-tool" title="Visit tool" class="tool-media-screenshot">
                      <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-ogmo.jpg" />
                    </a>
                  </div>
                  <div class="tool-copy">
                    <header class="tool-header">
                      <h1 class="tool-title"><a href="http://devseed.com/ifc-demand-tool" title="Visit app">Off-Grid Market Opportunities</a></h1>
                      <p class="tool-subtitle">Developed by <a href="http://ifc.org">IFC</a></p>
                    </header>
                    <div class="tool-body">
                      <p>Identify market opportunities for off-grid energy services in Sub-Saharan Africa.</p>
                    </div>
                    <div class="tool-cta">
                      <a href="http://devseed.com/ifc-demand-tool" title="Visit tool" class="btn btn-large btn-primary-ghost">View app</a>
                    </div>
                  </div>
                </article>
              </li>

              <li class="tool-wrapper">
                <article class="tool">
                  <div class="tool-media">
                    <a href="http://un-desa-modelling.github.io/electrification-paths-visualisation/" title="Visit tool" class="tool-media-screenshot">
                      <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-electrification-paths.jpg" />
                    </a>
                  </div>
                  <div class="tool-copy">
                    <header class="tool-header">
                      <h1 class="tool-title"><a href="http://un-desa-modelling.github.io/electrification-paths-visualisation/" title="Visit tool">Electrification Paths</a></h1>
                      <p class="tool-subtitle">Developed by <a href="https://www.un.org/development/desa/en/">UN DESA</a> and <a href="https://www.kth.se/en">KTH University</a></p>
                    </header>
                    <div class="tool-body">
                      <p>Open source model to estimate the mix of technologies that will provide universal access at the lowest cost for Africa.</p>
                    </div>
                    <div class="tool-cta">
                      <a href="http://un-desa-modelling.github.io/electrification-paths-visualisation/" title="Visit tool" class="btn btn-large btn-primary-ghost">View app</a>
                    </div>
                  </div>
                </article>
              </li>

              <li class="tool-wrapper">
                <article class="tool">
                  <div class="tool-media">
                    <a href="http://india.nightlights.io/" title="Visit tool" class="tool-media-screenshot">
                      <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-india-lights.jpg" />
                    </a>
                  </div>
                  <div class="tool-copy">
                    <header class="tool-header">
                      <h1 class="tool-title"><a href="http://india.nightlights.io/" title="Visit tool">India Night Lights</a></h1>
                      <p class="tool-subtitle">Developed by the <a href="http://worldbank.org">World Bank</a></p>
                    </header>
                    <div class="tool-body">
                      <p>Monitor rural electrification in 600,000 villages over twenty years. From space.</p>
                    </div>
                    <div class="tool-cta">
                      <a href="http://india.nightlights.io/" title="Visit tool" class="btn btn-large btn-primary-ghost">View app</a>
                    </div>
                  </div>
                </article>
              </li>
            </ol>
          </div>
        </div>
      </section>

      <section class="fold home-contribute">
        <header class="fold-header">
          <div class="container">
            <div class="fold-headline">
              <h1 class="fold-title">Contribute</h1>
            </div>
          </div>
        </header>
        <div class="fold-body">
          <div class="container">
            <div class="fold-prose">
              <p>Are you creating an application or visualization about energy, or have energy related data you'd like to share on energydata.info? Get in touch with our team.</p>
            </div>
            <div class="fold-cta">
              <a href="mailto:energydata@worldbankgroup.org" title="Write us" class="btn btn-large btn-rev-ghost">Write us</a>
            </div>
          </div>
        </div>
      </section>

      {% set most_recent_datasets = h.custom_theme_most_recent_datasets() %}
      {% if most_recent_datasets %}
      <section class="fold home-featured-datasets">
        <header class="fold-header">
          <div class="container">
            <div class="fold-headline">
              <h1 class="fold-title">Recent Datasets</h1>
            </div>
          </div>
        </header>
        <div class="fold-body">
          <div class="container">
            <ol class="home-datasets-list">
              {% for dataset in most_recent_datasets %}
                {% set notes = h.markdown_extract(dataset.notes, extract_length=180) %}
                <li class="card-wrapper dataset-wrapper">
                  <article class="card card-dataset">
                    <header class="card-header">
                      <h1 class="card-title"><a href="/dataset/{{ dataset.name }}" title="View dataset"> {{ dataset.title }}</a></h1>
                      <!-- <p class="card-subtitle"><strong>Category:</strong> Energy Access</p> -->
                    </header>
                    <div class="card-body">
                      {% if notes %}
                      <p>{{ notes|urlize }}</p>
                      {% else %}
                      <p class="empty">{{ _("This dataset has no description") }}</p>
                      {% endif %}
                    </div>
                    <footer class="card-footer">
                      <dl class="dataset-tags">
                        <dt>Tags</dt>
                        {% for resource in h.dict_list_reduce(dataset.resources, 'format') %}
                        <li>
                          <dd><a href="{{ h.url_for(controller='package', action='read', id=dataset.name) }}" data-format="{{ resource.lower() }}">{{ resource }}</a></dd>
                        </li>
                        {% endfor %}
                      </dl>
                    </footer>
                  </article>
                </li>
              {% endfor %}
            </ol>
            <div class="fold-cta">
              <a href="{{ h.url_for(controller='package', action='search') }}" title="Visit page" class="btn btn-large btn-primary-ghost">View all datasets</a>
            </div>
          </div>
        </div>
      </section>
      {% endif %}
    </div>
  </section>
{% endblock %}
