.home-header {
  color: #fff;
  background: @emPrimaryColor;
  text-align: center;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.home-headline {
  max-width: 560px;
  margin: 0 auto 20px auto;
}

.home-title {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}


@media (min-width: 768px) {
  .home-header {
    .container {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  .home-headline {
    margin-bottom: 40px;
  }

  .home-title {
    font-size: 36px;
    line-height: 44px;
    margin: 0;
  }
}
