/* ==========================================================================
   Inpage
   ========================================================================== */

.page-body-hub {
  padding: 20px;
  margin: 0;

  @media (min-width: 768px) {
    padding: 40px 20px;
  }
}

.inpage-header {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.inpage-title {
  &:extend(.visually-hidden);
}

.inpage-toolbar {
  margin: 0;
  padding: 0;
}