{% extends "dataviewer/base.html" %}
{% block headtag %}
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.css' rel='stylesheet' />
<style>
 body { margin:0; padding:0; }
 #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</
{% endblock %}

{% block page %}
    <div id='map'></div>
{% endblock %}

{% block scripts %}
    {{super()}}

    <script>
     var tilejson = "{{h.literal(tilejson)}}"

     if (tilejson !== 'None') {
         mapboxgl.accessToken = 'pk.eyJ1Ijoia2FtaWN1dCIsImEiOiJMVzF2NThZIn0.WO0ArcIIzYVioen3HpfugQ';
         var map = new mapboxgl.Map({
             container: 'map', // container id
             style: 'mapbox://styles/mapbox/light-v9', //stylesheet location
         });

         map.on('load', function () {
             fetch(tilejson)
                 .then(function (response) {
                     return response.json()
                 }).then(function (tilejson) {
                     var layer = tilejson;
                     layer.type = 'vector'
                     map.addSource('data', layer);

                     map.on('source.load', function (e) {
                         if (e.source.id === 'data') {
                             map.addLayer({
                                 "id": "data",
                                 "type": "line",
                                 "source": "data",
                                 "source-layer": "data_layer",
                                 "layout": {
                                     "line-join": "round",
                                     "line-cap": "round"
                                 },
                                 "paint": {
                                     "line-color": "#ff69b4",
                                     "line-width": 1
                                 }
                             });


                             map.addLayer({
                                 "id": "points",
                                 "type": "circle",
                                 "source": "data",
				 "source-layer": "data_layer",
				 "filter": ["==", "$type", "Point"],
				 "paint": {
				    "circle-color": "#ff69b4",
				    "circle-radius": 2
				 }
                             });
                             map.fitBounds([[layer.bounds[0], layer.bounds[1]], [layer.bounds[2], layer.bounds[3]]], {padding: 20})
                         }
                     })
                 })
         });
     } else {
         document.body.innerHTML = 'Data processing...Preview not yet available.'
     }
    </script>
{% endblock %}


