{% ckan_extends %}

{% block meta %}
  {{ super() }}

  <meta name="twitter:image:src" content="/meta/default-meta-image.png" />
  <meta property="og:image" content="meta/default-meta-image.png" />

  <link rel="apple-touch-icon" href="/meta/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/meta/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/meta/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/meta/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/meta/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/meta/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/meta/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/meta/apple-touch-icon-152x152.png" />

{% endblock %}

{% block links %}
  <link rel="shortcut icon" href="/meta/favicon.ico" />
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600" type="text/css" />
  
  {# Import example_theme.css using Fanstatic.
     'example_theme/' is the name that the example_theme/fanstatic directory
     was registered with when the toolkit.add_resource() function was called.
     'example_theme.css' is the path to the CSS file, relative to the root of
     the fanstatic directory. #}
  {% resource 'offgridtheme/styles/main.css' %}

{% endblock %}