{% ckan_extends %}

{% block meta %}
  {{ super() }}

  <meta name="description" content="energydata.info is an innovation from the World Bank Group providing open data and open source analytics for a sustainable energy future." />
  <meta name="twitter:image:src" content="/images/meta/default-meta-image.png" />
  <meta property="og:image" content="meta/default-meta-image.png" />

  <link rel="apple-touch-icon" href="/images/meta/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/images/meta/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/images/meta/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/images/meta/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/images/meta/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/images/meta/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/images/meta/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/images/meta/apple-touch-icon-152x152.png" />

{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600" type="text/css" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-81901426-1', 'auto');
    ga('send', 'pageview');

  </script>
  {# Import example_theme.css using Fanstatic.
     'example_theme/' is the name that the example_theme/fanstatic directory
     was registered with when the toolkit.add_resource() function was called.
     'example_theme.css' is the path to the CSS file, relative to the root of
     the fanstatic directory. #}
  {% resource 'offgridtheme/styles/main.css' %}

{% endblock %}