<footer class="site-footer">
  <div class="container">

    <div class="row">

      <nav class="span8 footer-nav">
        <ul class="footer-links-menu">
          <li><a href="{{ h.url_for(controller='ckanext.offgridtheme.controller:AppsController', action='view') }}" title="Visit page">Apps</a></li>
          <li><a href="{{ h.url_for(controller='package', action='search') }}" title="Visit page">Datasets</a></li>
          <li><a href="{{ h.url_for(controller='home', action='about') }}" title="Visit page">About</a></li>
          <li><a href="https://github.com/energy-data" title="Follow us on GitHub" target="_blank"><i class="icon-large icon-github"></i> GitHub</a></li>
        </ul>
      </nav>

      <div class="span4 footer-attr">
        <p class="attr-wbg-ifc"><a href="http://worldbank.org/" title="Visit page"><img alt="Logo" src="/images/content/wbg-ifc-logo.svg" width="430" height="96" /> <span>An innovation of the World Bank Group</span></a></p>
        <p class="attr-ds">Built by <a href="https://developmentseed.org/" title="Visit page">Development Seed</a></p>
      </div>
    </div>

  </div>
</footer>
