{% extends "inpage-hub.html" %}

{% block inpage_title %}
  <h1 class="inpage-title">{{ _('Apps') }}</h1>
{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Apps'), controller='ckanext.offgridtheme.controller:AppsController', action='view' %}</li>
{% endblock %}

{% block primary %}
  <div class="container">
    <ol class="home-tools-list">
      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://offgrid.energydata.info" title="Visit Off-Grid Market Opportunities Tool" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-ogmo.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://offgrid.energydata.info" title="Visit Off-Grid Market Opportunities Tool">Off-Grid Market Opportunities</a></h1>
              <p class="tool-subtitle">Developed by the <a href="http://ifc.org">International Finance Corporation</a></p>
            </header>
            <div class="tool-body">
              <p>Open source application to estimate market opportunities for off-grid energy services in Sub-Saharan Africa.</p>
            </div>
            <div class="tool-cta">
              <a href="http://offgrid.energydata.info" title="Visit Off-Grid Market Opportunities Tool" class="btn btn-large btn-primary-ghost">View app</a>
            </div>
          </div>
        </article>
      </li>

      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://globalsolaratlas.info/" title="Visit the Global Solar Atlas" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-atlas.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://globalsolaratlas.info" title="Visit the Global Solar Atlas">Global Solar Atlas</a></h1>
              <p class="tool-subtitle">Developed by the <a href="http://worldbank.org">World Bank Group</a></p>
            </header>
            <div class="tool-body">
              <p>Access solar power potential globally and perform simple electricity output calculation for any given location.</p>
            </div>
            <div class="tool-cta">
              <a href="http://globalsolaratlas.info/" title="Visit the Global Solar Atlas" class="btn btn-large btn-primary-ghost">View app</a>
            </div>
          </div>
        </article>
      </li>

      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://un-desa-modelling.github.io/electrification-paths-visualisation/" title="Visit the Electrification Paths Visualization" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-electrification-paths.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://un-desa-modelling.github.io/electrification-paths-visualisation/" title="Visit the Electrification Paths Visualization">Electrification Paths</a></h1>
              <p class="tool-subtitle">Developed by <a href="https://www.un.org/development/desa/en/">UN DESA</a> and <a href="https://www.kth.se/en">KTH University</a></p>
            </header>
            <div class="tool-body">
              <p>Open source model to estimate the mix of technologies that will provide universal access at the lowest cost for Africa. Works only on Chrome, Firefox and Safari.</p>
            </div>
            <div class="tool-cta">
              <a href="http://un-desa-modelling.github.io/electrification-paths-visualisation/" title="Visit the Electrification Paths Visualization" class="btn btn-large btn-primary-ghost">View app</a>
            </div>
          </div>
        </article>
      </li>

      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://india.nightlights.io/" title="Visit India Night Lights" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-india-lights.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://india.nightlights.io/" title="Visit India Night Lights">India Night Lights</a></h1>
              <p class="tool-subtitle">Developed by the <a href="http://worldbank.org">World Bank</a></p>
            </header>
            <div class="tool-body">
              <p>Monitor rural electrification in 600,000 villages over twenty years. From space.</p>
            </div>
            <div class="tool-cta">
              <a href="http://india.nightlights.io/" title="Visit India Night Lights" class="btn btn-large btn-primary-ghost">View app</a>
            </div>
          </div>
        </article>
      </li>
    </ol>
  </div>
{% endblock %}