{% extends "inpage-hub.html" %}

{% block inpage_title %}
  <h1 class="inpage-title">{{ _('Apps') }}</h1>
{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Apps'), controller='ckanext.offgridtheme.controller:AppsController', action='view' %}</li>
{% endblock %}

{% block primary %}
  <div class="container">
    <ol class="home-tools-list">
      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="#" title="Visit tool" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-ogmo.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="#" title="Visit tool">Off-Grid Market Opportunities</a></h1>
            </header>
            <div class="tool-body">
              <p>Identify market opportunities for off-grid energy services in Sub-Saharan Africa.</p>
            </div>
            <div class="tool-cta">
              <a href="#" title="Visit tool" class="btn btn-large btn-primary-ghost">View app</a>
            </div>
          </div>
        </article>
      </li>

      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://india.nightlights.io/" title="Visit tool" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-india-lights.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://india.nightlights.io/" title="Visit tool">India Night Lights</a></h1>
            </header>
            <div class="tool-body">
              <p>Monitor rural electrification in 600,000 villages over twenty years. From space.</p>
            </div>
            <div class="tool-cta">
              <a href="http://india.nightlights.io/" title="Visit tool" class="btn btn-large btn-primary-ghost">View app</a>
            </div>
          </div>
        </article>
      </li>
    </ol>
  </div>
{% endblock %}