{% extends "inpage-hub.html" %}

{% block inpage_title %}
  <h1 class="inpage-title">{{ _('Apps') }}</h1>
{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Apps'), controller='ckanext.offgridtheme.controller:AppsController', action='view' %}</li>
{% endblock %}

{% block primary %}
  <div class="container">
    <ol class="home-tools-list">
      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://africagrid.energydata.info" title="Visit Africa Electricity Grids Explorer" target="_blank" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-grid.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://africagrid.energydata.info" target="_blank" title="Visit Africa Electricity Grids Explorer">Africa Electricity Grids Explorer</a></h1>
              <p class="tool-subtitle">By the <a href="http://worldbank.org" target="_blank">World Bank Group</a></p>
            </header>
            <div class="tool-body">
              <p>Explore the latest data on Sub-Saharan Africa's electricity grids and infrastructure.</p>
            </div>
            <div class="tool-cta">
              <a href="http://africagrid.energydata.info" title="Visit Africa Electricity Grids Explorer" target="_blank" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>
      
      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://electrification.energydata.info/" title="Visit the Electrification Pathways" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-electrification-pathways.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://electrification.energydata.info/" title="Visit the Electrification Pathways">Electrification Pathways</a></h1>
              <p class="tool-subtitle">By the <a href="http://www.worldbank.org/">World Bank Group</a>，<a href="https://www.kth.se/en">KTH University</a> and <a href="https://www.esmap.org/">ESMAP</a></p>
            </header>
            <div class="tool-body">
              <p>Navigate least cost electrification options for each 1 by 1 km square in Nigeria, Tanzania and Zambia. Works on Chrome, Firefox and Safari.</p>
            </div>
            <div class="tool-cta">
              <a href="http://electrification.energydata.info/" title="Visit the Electrification Pathways" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>

      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://offgrid.energydata.info" title="Visit Off-Grid Market Opportunities Tool" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-ogmo.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://offgrid.energydata.info" title="Visit Off-Grid Market Opportunities Tool">Off-Grid Market Opportunities</a></h1>
              <p class="tool-subtitle">By the <a href="http://ifc.org">International Finance Corporation</a></p>
            </header>
            <div class="tool-body">
              <p>Open source application to estimate market opportunities for off-grid energy services in Sub-Saharan Africa.</p>
            </div>
            <div class="tool-cta">
              <a href="http://offgrid.energydata.info" title="Visit Off-Grid Market Opportunities Tool" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>

      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://globalsolaratlas.info/" title="Visit the Global Solar Atlas" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-atlas.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://globalsolaratlas.info" title="Visit the Global Solar Atlas">Global Solar Atlas</a></h1>
              <p class="tool-subtitle">By the <a href="http://worldbank.org">World Bank Group</a></p>
            </header>
            <div class="tool-body">
              <p>Access solar power potential globally and perform simple electricity output calculation for any given location.</p>
            </div>
            <div class="tool-cta">
              <a href="http://globalsolaratlas.info/" title="Visit the Global Solar Atlas" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>
      
      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://rise.worldbank.org" title="Visit RISE" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-rise.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://rise.worldbank.org" title="Visit RISE">RISE</a></h1>
              <p class="tool-subtitle">By the <a href="http://www.worldbank.org/">World Bank Group</a></p>
            </header>
            <div class="tool-body">
              <p>Regulatory Indicators for Sustainable Energy (RISE) is assessing the investment climate for sustainable energy in 111 countries.</p>
            </div>
            <div class="tool-cta">
              <a href="http://rise.worldbank.org" title="Visit RISE" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>
      
      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://gtf.esmap.org" title="Visit GTF" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-gtf.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://gtf.esmap.org" title="Visit GTF">Global Tracking Framework</a></h1>
              <p class="tool-subtitle">By the <a href="http://www.worldbank.org/">World Bank Group</a></p>
            </header>
            <div class="tool-body">
              <p>GTF provides a global dashboard to register progress on energy access, energy efficiency and renewable energy.</p>
            </div>
            <div class="tool-cta">
              <a href="http://gtf.esmap.org" title="Visit GTF" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>
      
      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://mgf-nigeria.integration.org/" title="Visit the Nigeria Mini-Grid Finder" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-NGA-MG-Finder.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://mgf-nigeria.integration.org/" title="Visit the Nigeria Mini-Grid Finder">Nigeria Mini-Grid Finder</a></h1>
              <p class="tool-subtitle">By <a href="http://www.integration.org/">INTEGRATION</a> and <a href="http://reiner-lemoine-institut.de/">Reiner Lemoine Institut</a></p>
            </header>
            <div class="tool-body">
              <p>Provides prospective project developers and investors with market intelligence regarding the potentials for off-grid electrification.</p>
            </div>
            <div class="tool-cta">
              <a href="http://mgf-nigeria.integration.org/" title="Visit the Nigeria Mini-Grid Finder" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>
      
      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://adb-myanmar.integration.org/" title="Visit the Myanmar Off-Grid Analytics" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-MMR-OG-Analytics.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://adb-myanmar.integration.org/" title="Visit the Myanmar Off-Grid Analytics">Myanmar Off-Grid Analytics</a></h1>
              <p class="tool-subtitle">By <a href="http://www.integration.org/">INTEGRATION</a> and <a href="http://reiner-lemoine-institut.de/">Reiner Lemoine Institut</a></p>
            </header>
            <div class="tool-body">
              <p>Visualizes data of the current electrification status and renewable energy potentials to show the off-grid investment potential.</p>
            </div>
            <div class="tool-cta">
              <a href="http://adb-myanmar.integration.org/" title="Visit the Myanmar Off-Grid Analytics" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>
      
      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://un-desa-modelling.github.io/electrification-paths-visualisation/" title="Visit the Electrification Paths Visualization" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-electrification-paths.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://un-desa-modelling.github.io/electrification-paths-visualisation/" title="Visit the Electrification Paths Visualization">Electrification Paths</a></h1>
              <p class="tool-subtitle">By <a href="https://www.un.org/development/desa/en/">UN DESA</a> and <a href="https://www.kth.se/en">KTH University</a></p>
            </header>
            <div class="tool-body">
              <p>Estimate the mix of technologies that will provide universal electricity access at the lowest cost. Works only on Chrome, Firefox and Safari.</p>
            </div>
            <div class="tool-cta">
              <a href="http://un-desa-modelling.github.io/electrification-paths-visualisation/" title="Visit the Electrification Paths Visualization" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>

      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://india.nightlights.io/" title="Visit India Night Lights" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-india-lights.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://india.nightlights.io/" title="Visit India Night Lights">India Night Lights</a></h1>
              <p class="tool-subtitle">By the <a href="http://worldbank.org">World Bank</a></p>
            </header>
            <div class="tool-body">
              <p>Monitor rural electrification in 600,000 villages over twenty years. From space.</p>
            </div>
            <div class="tool-cta">
              <a href="http://india.nightlights.io/" title="Visit India Night Lights" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>

      <li class="tool-wrapper">
        <article class="tool">
          <div class="tool-media">
            <a href="http://global-climatescope.org/en/results/" title="Visit the Climatescope" class="tool-media-screenshot">
              <img alt="Tool screenshot" width="1440" height="768" src="/images/content/tool-screenshot-climatescope.jpg" />
            </a>
          </div>
          <div class="tool-copy">
            <header class="tool-header">
              <h1 class="tool-title"><a href="http://global-climatescope.org/en/results/" title="Visit the Climatescope">Climatescope</a></h1>
              <p class="tool-subtitle">By <a href="https://about.bnef.com/">Bloomberg New Energy Finance</a></p>
            </header>
            <div class="tool-body">
              <p>Compare conditions for clean energy investment on and off the grid in 58 emerging markets.</p>
            </div>
            <div class="tool-cta">
              <a href="http://global-climatescope.org/en/results/" title="Visit the Climatescope" class="btn btn-primary"><span>View app</span> <i class="icon-small icon-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </li>
    </ol>
  </div>
{% endblock %}
