{% extends "inpage-article.html" %}

{% block inpage_title %}
  <h1 class="inpage-title">{{ _('Privacy Policy') }}</h1>
{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Privacy'), controller='ckanext.offgridtheme.controller:PrivacyController', action='view' %}</li>
{% endblock %}

{% block primary %}
  <div class="container">
    <div class="prose">
      <p>This Privacy Policy applies to the energydata.info site (“the Parent Site”) and certain associated sites linked to the Parent Site and identified below from time to time (“Associated Sites”). The Parent Site and the Associated Sites are sometimes referred to collectively as the "Sites".</p>
      <h2>Privacy Policy</h2>
      <p>Your privacy when using <a href="http://www.energydata.info">http://www.energydata.info</a> is of the utmost importance to us. This Privacy Policy describes the ways in which the operator of the Sites, the World Bank Group (“we,” “our,” or “us”), collects, uses, and discloses information about you through the Sites. By using any such Site, you consent to the processing of your information as set forth in this Privacy Policy.</p>
      <h2>What information do we collect?</h2>
      <h3>Information You Provide</h3>
      <p>We and our service providers collect any information that you provide when you use any of our Sites, including when you create an account, use an app, upload a dataset, or otherwise contact us with a question, comment, or request. This can include, but is not limited to (a) your name, contact information, and other registration information; (b) information provided as part of uploads and (c) information you provide us when you contact us.</p>
      <h3>Information Automatically Collected From You</h3>
      <p>We and our service providers may automatically collect certain technical information from your computer when you use any of our Sites, such as your Internet Protocol address, your browser type, your operating system, the pages you view on any of our Sites, the pages you view immediately before and after you access any such Site, and the search terms you enter on the Site. For example, we collect information and compile statistics about the most and least popular pages and apps on each of our respective Sites.</p>
      <p>This information allows us to recognize you and personalize your experience if you return to any of our Sites using the same computer or mobile device to improve that respective Site and the services we provide. We and our service providers may collect this information using “cookies,” which are small text files that the Site saves on your computer using your web browser and accesses when you return, or similar technologies.</p>
      <h2>How do we use this information?</h2>
      <p>We may use the information we collect for a number of purposes, including, but not limited to:</p>
      <ul>
        <li>Providing you with products, services, or information you request</li>
        <li>Providing you with information about the respective Site or required notices;</li>
        <li>Delivering marketing communications, promotional materials, or advertisements that may be of interest to you;</li>
        <li>Customizing your experience when using any of our Sites, such as by providing interactive or personalized elements on that respective Site and providing you with content based on your interests;</li>
        <li>Allowing us to improve the Sites and the services we provide, such as by better tailoring our content to our visitors’ needs and preferences;</li>
        <li>Generating and analyzing trends about your and other visitors’ use of the Sites;</li>
        <li>Helping our advertisers and sponsors better understand our visitors; and</li>
        <li>Detecting, preventing, and responding to fraud, intellectual property infringement, violations of our Terms of Use, violations of law, or other misuse of any of our Sites.</li>
        <li>We also may combine or aggregate any of the information we collect through the Sites or elsewhere for any of these purposes.</li>
      </ul>
      <h2>Under what circumstances do we disclose this information?</h2>
      <p>We may disclose the information we collect from you through any of our Sites:</p>
      <ul>
        <li>To other member institutions of the World Bank Group;</li>
        <li>To other service providers who work on our behalf, including, but not limited to, service providers who provide web hosting services, provide certification-related services, help us gather and analyze information about usage of the Sites, and/or deliver marketing communications, promotional materials, or announcements that may be of interest to you;</li>
        <li>To business partners who may deliver marketing communications, promotional materials, or announcements that may be of interest to you;</li>
        <li>As required by law, such as to comply with a subpoena or other legal process, or to comply with government reporting obligations;</li>
        <li>When we believe in good faith that disclosure is necessary (a) to protect our rights, the integrity of the Sites, or your safety or the safety of others, or (b) to detect, prevent, or respond to fraud, intellectual property infringement, violations of our Terms of Use, violations of law, or other misuses of the Sites;</li>
        <li>To service providers, advisors, donors and other third parties to the extent reasonably necessary to proceed with the negotiation or completion of a merger, acquisition, or sale of all or a portion of our assets, including any of the Sites; and</li>
        <li>When we are not otherwise prohibited by applicable law from doing so without your express consent.</li>
      </ul>
      <p>In addition, we may share aggregate reports on user demographics and traffic patterns, as well as de-identified information, with third parties.</p>
      <p>The Sites also may contain links to websites published by third parties. You acknowledge and agree that we are not responsible for the collection and use of your information by such websites that are not under our control. We encourage you to review the privacy policies and each website you visit.</p>
      <h2>Where is this information stored?</h2>
      <p>Information collected through the Sites may be processed and stored outside of your home country, which may not provide the same level of protection for your personal information as your home country, and may be available to that country’s government or its agencies under a lawful order made in that country. In addition, we may transfer your information outside your home country to our other member institutions of the World Bank Group, partners, and service providers located in other countries for use in connection with our Sites. By using any of the services provided by the Sites (the “Online Services”), you consent to such transfer to, and processing in, these other countries.</p>
      <h2>How is your information secured?</h2>
      <p>We strive to maintain reasonable administrative, technical, and physical safeguards designed to safeguard the information collected by the Sites. However, no information system can be 100% secure, so we cannot guarantee the absolute security of your information. Moreover, we are not responsible for the security of information you transmit to the Sites over networks that we do not control, including the internet and wireless networks.</p>
      <h2>Your choices</h2>
      <p>If your contact information changes, if you no longer wish to receive marketing communications from us or to have us share your information with third parties for marketing purposes, or if you wish to change or inquire about the information that you have provided to us through the Sites, please submit a request to the <a href="mailto:energydata@worldbankgroup.org">energydata.info Team</a>. If you do not want this Site or any of other Site to collect this information through the use of cookies, you can set your web browser to reject cookies from the respective Site. Each browser is different, so you should check your browser’s “Help” menu to learn how to change your cookie preferences. If you reject or block cookies from a Site, however, the Site may not function as intended.</p>
      <h2>Changes to this Privacy Policy</h2>
      <p>We reserve the right to update this Privacy Policy from time to time with respect to all or any of the Sites by posting a new Privacy Policy on this page. You are advised to consult this Privacy Policy regularly for any changes, and your continued use of any affected Site after such changes have been made constitutes acceptance of those changes. If we make any revisions that materially change that ways in which we use or share the information previously collected from you through the Sites, we will give you the opportunity to consent to such changes before applying them to that information.</p>
      <h2>Contact us</h2>
      <p>If you have any questions or concerns about this Privacy Policy or our use of your information collected through the Site, please contact us at <a href="mailto:energydata@worldbankgroup.org">energydata@worldbankgroup.org</a>.</p>
    </div>
  </div>
{% endblock %}
