{% ckan_extends %}

{% block extras scoped %}
  {% for printable_key, extra_key in (('Coordinate Reference System', 'ref_system'), ('Published year', 'release_date'), ('Start date', 'start_date'), ('End date', 'end_date')) %}
    {% set value = pkg_dict.get(extra_key) %}
    {% if value %}
      <tr rel="dc:relation" resource="_:extra{{ i }}">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ printable_key }}</th>
        <td class="dataset-details" property="rdf:value">{{ value }}</td>
      </tr>
    {% endif %}
  {% endfor %}
{% endblock %}