{% ckan_extends %}

{% import 'macros/form.html' as form %}

{# Multi-select control (based on select() in macros/form.html ) #}
{% macro multiselect(name, id='', label='', options='', selected='', error='', classes=[], attrs={}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <select multiple id="{{ id or name }}" name="{{ name }}" {{ form.attributes(attrs) }}>
      {% for option in options %}
        <option value="{{ option.value }}"{% if option.value in selected %} selected{% endif %}>{{ option.name or option.value }}</option>
      {% endfor %}
    </select>
  {% endcall %}
{% endmacro %}

{% block package_metadata_fields_url %}

  {# Topic #}
  {{ multiselect('topic', label=_('Topic'), options=h.topic_options(), selected=data.get('topic', []), error=errors.topic, attrs={'data-module': 'autocomplete', 'maximumSelectionSize': 3}) }}

  {# Country #}
  {{ multiselect('country_code', label=_('Country'), options=h.country_options(), selected=data.get('country_code', []), error=errors.country_code, attrs={'data-module': 'autocomplete'}) }}

  {# Region #}
  {{ multiselect('region', label=_('Region'), options=h.region_options(), selected=data.get('region', []), error=errors.region, attrs={'data-module': 'autocomplete'}) }}

  {# Status #}
  {{ form.select('status', label=_('Status'), options=h.status_options(), selected=data.get('status'), error=errors.status) }}

  {{ super() }}


{% endblock %}

{% block package_metadata_fields_maintainer %}
  <input id="field-maintainer" type="hidden" name="maintainer" value="{{data.maintainer}}" />
  <input id="field-maintainer-email" type="hidden" name="maintainer_email" value="{{data.maintainer_email}}" />

  {% call form.input('release_date', label=_('Published year'), id='field-release_date', placeholder=_('2010'), value=data.release_date, error=errors.release_date, classes=['control-medium']) %}
    <span class="info-block info-inline">
      Publish date of source data
    </span>
  {% endcall %}

  {% call form.input('start_date', label=_('Start date'), id='field-start_date', placeholder=_('2008'), value=data.start_date, error=errors.start_date, classes=['control-medium']) %}
    <span class="info-block info-inline">
      Earliest data point in the dataset. E.g. 15-Jul-2008 or 2008
    </span>
  {% endcall %}

  {% call form.input('end_date', label=_('End year'), id='field-end_date', placeholder=_('2009'), value=data.end_date, error=errors.end_date, classes=['control-medium']) %}
    <span class="info-block info-inline">
      Latest or most recent data point in the dataset. E.g. 15-Jul-2009 or 2009
    </span>
  {% endcall %}

  {% call form.input('ref_system', label=_('Coordinate Reference System'), id='field-ref_system', placeholder=_('WGS84'), value=data.ref_system, error=errors.ref_system, classes=['control-medium']) %}
    <span class="info-block info-inline">
      For geographic data, the name of the coordinate reference system used for the co-ordinates.
    </span>
  {% endcall %}
{% endblock %}

{% block package_metadata_fields_version %}
  <input id="field-version" type="hidden" name="version" value="{{data.version}}" />
{% endblock %}

{% block dataset_fields %}
{% endblock %}
